:root {
  --PrimaryColor: hsl(0, 82%, 22%);
  --HoverColor: hsl(239, 78%, 30%);
  --WhitePColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(26, 0%, 17%);
  --TextColor: hsl(240, 1%, 47%);
  --WhiteColorDeam: hsl(0, 0%, 93%);
  --grayBg: hsl(0, 8%, 63%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 13%, 97%);
}

.popular {
  padding-top: 15rem;
}
.popular .secContainer .secHeader {
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.popular .secContainer .secHeader .textDiv .secTitle {
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}
.popular .secContainer .secHeader .textDiv p {
  font-size: 13px;
  color: var(--textColor);
}
.popular .secContainer .secHeader .iconDiv {
  gap: 0.4rem;
}
.popular .secContainer .secHeader .iconDiv .icon {
  padding: 0.7rem;
  background: var(--greyText);
  border-radius: 50%;
  font-size: 2.5rem;
}
.popular .secContainer .secHeader .iconDiv .icon:hover {
  background: var(--BlackColor);
  column-rule: var(--WhitePColor);
}
.popular .secContainer .secHeader .iconDiv .lefticon {
  background: var(--BlackColor);
  color: var(--WhitePColor);
}
.popular .secContainer .secHeader .iconDiv .lefticon:hover {
  background: var(--grayBg);
  color: var(--BlackColor);
}
.popular .secContainer .secHeader .iconDiv .righticon {
  background: var(--BlackColor);
  color: var(--WhitePColor);
}
.popular .secContainer .secHeader .iconDiv .righticon:hover {
  background: var(--grayBg);
  color: var(--BlackColor);
}
.popular .secContainer .mainContent {
  padding: 2rem 0;
  gap: 1rem;
}
.popular .secContainer .mainContent .singleDetination {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 3px 0px 3px rgba(22, 5, 5, 0.094);
}
.popular .secContainer .mainContent .singleDetination .destImage {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.popular .secContainer .mainContent .singleDetination .destImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.popular .secContainer .mainContent .singleDetination .destImage .overlayInfo {
  position: absolute;
  display: flex;
  align-items: flex-start;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.759));
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: var(--WhitePColor);
  opacity: 0.7;
  font-size: 13px;
}
.popular .secContainer .mainContent .singleDetination .destImage .overlayInfo h3 {
  color: var(--WhitePColor);
  font-weight: 600;
}
.popular .secContainer .mainContent .singleDetination .destImage .icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0.5rem;
  background: var(--PrimaryColor);
  font-size: 2.3rem;
  border-radius: 50%;
  color: var(--WhitePColor);
  border: 1px solid var(--PrimaryColor);
  transition: 0.3s ease;
}
.popular .secContainer .mainContent .singleDetination .destImage .icon:hover {
  background: var(--blackColor);
  border: 1px solid var(--PrimaryColor);
  color: var(--PrimaryColor);
  border: transparent;
}
.popular .secContainer .mainContent .singleDetination .destfooter {
  padding: 1rem;
}
.popular .secContainer .mainContent .singleDetination .destfooter .number {
  font-size: 2rem;
  font-weight: 700;
  color: var(--PrimaryColor);
  position: relative;
  width: max-content;
}
.popular .secContainer .mainContent .singleDetination .destfooter .number::after {
  content: "";
  position: absolute;
  background: var(--PrimaryColor);
  top: 45%;
  right: -150%;
  height: 5px;
  width: 45px;
  border-radius: 1rem;
}
.popular .secContainer .mainContent .singleDetination .destfooter .destText {
  justify-content: space-between;
}
.popular .secContainer .mainContent .singleDetination .destfooter .destText h6 {
  color: var(--blackColor);
  font-size: 1.3rem;
}
.popular .secContainer .mainContent .singleDetination .destfooter .destText .flex {
  font-size: 16px;
  font-weight: 600;
  align-items: flex-start;
  transform: translateY(5px);
}
.popular .secContainer .mainContent .singleDetination .destfooter .destText .flex .icon {
  color: var(--PrimaryColor);
}
.popular .secContainer .mainContent .singleDetination:hover .overlayInfo {
  overflow: visible;
  padding: 1rem 1.5rem;
  height: 100%;
}

/*# sourceMappingURL=destinations.css.map */
